@media all {
  html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
    font-family: sans-serif; }

  ul, ol, li {
    list-style: none; }

  a, u {
    text-decoration: none; }

  img {
    display: block;
    border: 0; }

  * {
    box-sizing: border-box; }

  :root {
    --c_mainBlue: #4cb4e7;
    --c_highlightBlue: #1cb8f6;
    --c_mainWhite: #fff;
    --c_mainGray: #666;
    --c_bg: midnightblue;
    --c_bg_chart: rgba(0, 138, 255, 0.1); }

  html, body {
    height: 100%;
    color: var(--c_mainWhite);
    background-color: var(--c_bg);
    overflow: hidden; }

  h3, h4, h5 {
    font-weight: normal; }

  button {
    outline: none; }

  #container {
    display: flex;
    flex-direction: column;
    margin: 0 auto; } }
@font-face {
  font-family: digitalNumber;
  src: url("../assets/font/digitalNumber.TTF"); }
.myBg {
  background-size: 100% 100%;
  background-origin: content-box;
  background-repeat: no-repeat; }

strong {
  font-weight: normal;
  color: var(--c_mainBlue);
  letter-spacing: .125rem; }

h3 {
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  letter-spacing: .0625rem;
  color: var(--c_mainWhite);
  background: linear-gradient(to right, var(--c_mainBlue), transparent); }
  h3.en {
    margin-top: .3rem;
    color: #999;
    font-size: .75rem; }

h4 {
  font-size: 1.125rem;
  letter-spacing: .125rem; }

h5 {
  letter-spacing: .125rem; }

#container {
  height: 100%; }

@media all {
  i {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat; }

  .icon {
    margin-right: .5rem;
    width: 1.875rem;
    height: 1.875rem;
    vertical-align: -0.5em;
    fill: currentColor;
    overflow: hidden; } }
#container > header {
  position: relative;
  padding: 2rem 2rem 1.5rem; }
  #container > header .logo {
    position: absolute;
    padding: 1rem;
    outline: 1px dashed wheat; }
  #container > header h1 {
    text-align: center;
    margin: 0 4.5rem .5rem;
    font-size: 2.5rem;
    font-weight: normal;
    color: var(--c_mainWhite); }
  #container > header #headerTime {
    position: absolute;
    right: 1rem;
    top: 2.5rem;
    font-size: 1.125rem;
    letter-spacing: .0625rem;
    margin-right: 1rem; }
    #container > header #headerTime > span {
      display: block; }
    #container > header #headerTime .digital-num {
      font-family: "digitalNumber", serif;
      font-size: 1.5rem;
      margin: 0 .125rem; }
      #container > header #headerTime .digital-num:last-child {
        margin-left: 1rem;
        margin-right: 0; }
      #container > header #headerTime .digital-num .colon {
        display: inline-block;
        font-family: sans-serif;
        width: 0.125rem; }
  #container > header .weatherBox {
    position: absolute;
    right: 11rem;
    top: 2.5rem; }
    #container > header .weatherBox #weatherIcon {
      vertical-align: top;
      width: 3rem;
      height: 3rem;
      filter: brightness(3);
      background-size: contain;
      /*background-image: url("https://cdn.heweather.com/cond_icon/101.png");*/ }
    #container > header .weatherBox ul {
      font-size: 1.125rem;
      display: inline-block; }
      #container > header .weatherBox ul .temperature {
        margin-bottom: .25rem; }
#container > main {
  flex: 1;
  display: flex;
  padding: 0 1rem 2rem; }

/*# sourceMappingURL=common.css.map */
